<div class="container mt-5">
    <div class="row justify-content-center">
      <!-- Text Column -->
      <div class="col-md-4 ec">
        <img src="/public/ecommerce.png" class="img-fluid" alt="Custom Website and E-commerce Solutions">
      </div>
      <div class="col-md-6 commerce">
        <h3>Custom Website and E-commerce Solutions</h3>
        <p>
          At Big Tech Solutions, we specialize in creating tailored websites and e-commerce platforms that align with your business goals. Whether you're looking to develop a responsive website, implement secure payment gateways, or optimize for mobile and desktop, we offer comprehensive services to help your business thrive online.
        </p>
        <button class="btn d-flex justify-content-center align-items-center">
          <i class="bi bi-arrow-up-right"></i>Start
        </button>
      </div>
    </div>
  </div>
