<div class="container-fluid mt-5  techContainer">
    <div class="row justify-content-center">
   <div class="col-md-4 col-xs-12 techP">
        <h3>Technologies We Trust to Build Excellence</h3>
        <p>we use a robust tech stack to turn your ideas into reality. We leverage Angular and React for dynamic front-end development, Flutter for mobile apps, and Spring Boot, Laravel, and .NET for secure back-end solutions. With Python, we create data-driven applications, ensuring high performance and tailored results for our clients.</p>
      </div>
      <div class="col-md-7 techI">
        <div class="row">
            <div class="col-4 col-xs-12 t"><img src="/public/technologies/angular.png" alt="" style="height:100px;"></div>
            <div class="col-4 col-xs-12 t"><img src="/public/technologies/react.png" alt="" style="height:100px;"></div>
            <div class="col-4 col-xs-12 t"><img src="/public/technologies/flutter.png" alt="" style="height:100px;"></div>
            <div class="col-4 col-xs-12 t"><img src="/public/technologies/springBoot.png" alt="" style="height:100px;"></div>
            <div class="col-4 col-xs-12 t"><img src="/public/technologies/laravel.png" alt="" style="height:100px;"></div>
            <div class="col-4 col-xs-12 t"><img src="/public/technologies/dotNet.png" alt="" style="height:100px;"></div>
            <div class="col-4 col-xs-12 t"><img src="/public/technologies/python.png" alt="" style="height:100px;"></div>
        </div>
      </div>
    </div>
   
  </div>

