<div class="container-fluid d-flex">
  <header>
    <div class="logoo">
      <img src="/public/logoB.png" alt="">
    </div>
    <div class="tun">
      <img src="/public/tn.png" alt="">
      <h4>Based in Tunisia</h4>
    </div>
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <button>Home</button>
      </li>
      <li class="nav-item">
        <button>Services</button>
      </li>
      <li class="nav-item">
        <button>Contact</button>
      </li>
    </ul>
  </header>
<app-home></app-home>

</div>
