*{
  margin: 0;
  padding: 0;
  font-family: "Kanit", sans-serif;
}

header {
  position: fixed;
  z-index: 1000000000000;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    padding: 20px;
    margin: 0;
    background: linear-gradient(45deg,#5234FF,#D800FF); /* Gradient background */
  }
  header .logoo{
    position:fixed;
    top:0;
    left:0;
    background-color: white;
    border-bottom-right-radius: 40px;
    border-color: #5234FF;
    border-width: 2px;
    border-style: solid;
  }
  header .logoo img {
    width: 100px;
    height: 100px;
  }
  header ul {
    margin-right: 70px;
    list-style: none;
    display: flex;
    gap: 20px; /* Spacing between links */
  }
  
  header ul li button{
    background-color: transparent;
    border: none;
    padding: 10px;
    color: white;
    font-size: 18px;
  }
  
  header ul li button:hover {
    background-color: #D800FF;
    border-radius: 10px;
  }
  header .tun {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .tun img {
    height: 40px;
    width: 60px;
  }
  .tun h4{
    color: white;
    font-size: 14px;
  }
 
  