<div class="container-fluid">
  <header>
    <img src="/public/bigTech.png" alt="">
    <div class="tun">
      <img src="/public/tn.png" alt="">
      <h4>Based in Tunisia</h4>
    </div>
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link" href="#link1">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#link2">Services</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#link3">Contact</a>
      </li>
    </ul>
  </header>
<app-home></app-home>

</div>
