<div class="d-flex flex-column">
    <!-- Video Container -->
    <div class="video-container">
      <video autoplay muted loop playsinline class="w-100">
        <source src="/public/Plexus_Background_White.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
  
      <div class="text-center">
        <div class="par">
          <h3>Big Tech Solutions: Your Trusted Partner for Innovative Technology Solutions</h3>
          <p>At Big Tech Solutions, we deliver cutting-edge, tailored technology solutions designed to meet your business needs. Our expert team provides scalable and secure services, including software development, mobile apps, and graphic design. We are committed to helping you stay ahead in a fast-paced digital world with innovative, business-driven solutions.</p>
          
          <div class="start d-flex justify-content-between align-items-center">
            <button class="btn d-flex justify-content-center align-items-center " style="background-color:#A02334;">
                <i class="bi bi-envelope-at-fill"></i> Send Email
            </button>
            <button class="btn d-flex justify-content-center align-items-center" style="background-color: #25D366;">
                <i class="bi bi-whatsapp"></i>Message
              </button>
          </div>
        </div>
      </div>
    </div>
    <div class="container mt-5 part2">
        <div class="row">
          <!-- First Container -->
          <div class="col-md-4">
            <div class="content-box d-flex flex-column justify-content-center align-items-center text-center">
              <img src="/public/web.gif" alt="Image 1" class="img-fluid" style="height: 180px;">
              <h4>Tailored Web Development for Online Success</h4>
            <p>Big Tech Solutions offers tailored **web development services** to create responsive, secure, and scalable websites. We focus on delivering fast, user-friendly solutions that enhance your online presence and support business growth.</p>
            </div>
          </div>
      
          <!-- Second Container -->
          <div class="col-md-4">
            <div class="content-box d-flex flex-column justify-content-center align-items-center text-center">
              <img src="/public/mobile.gif" alt="Image 2" class="img-fluid" style="height: 180px;">
              <h4>Custom Mobile App Development for Business Growth</h4>
              <p>Big Tech Solutions provides expert **mobile development services**, creating responsive and intuitive mobile apps. We focus on delivering secure, scalable solutions that enhance user experience and drive business growth.</p>
            </div>
          </div>
      
          <!-- Third Container -->
          <div class="col-md-4">
            <div class="content-box d-flex flex-column justify-content-center align-items-center text-center">
              <img src="/public/design.gif" alt="Image 3" class="img-fluid" style="height: 180px;">
              <h4>Creative Graphic Design for Powerful Branding</h4>
              <p>Big Tech Solutions offers professional design services, crafting visually stunning and user-friendly interfaces. We create designs that enhance brand identity and provide a seamless user experience, driving engagement and business success</p>
            </div>
          </div>
        </div>
      </div>
      <div class="container mt-3">
        <div class="row">
          <!-- First Container -->
          <div class="col-md-4">
            <div class="content-box d-flex flex-column justify-content-center align-items-center text-center">
              <img src="/public/marketing.gif" alt="Image 1" class="img-fluid" style="height: 180px;">
              <h4>Effective Digital Marketing</h4>
            <p>Big Tech Solutions offers **digital marketing services** to enhance your online presence. From SEO and social media to paid ads, we create targeted campaigns that drive engagement, visibility, and conversions.</p>
            </div>
          </div>
      
          <!-- Second Container -->
          <div class="col-md-4">
            <div class="content-box d-flex flex-column justify-content-center align-items-center text-center">
              <img src="/public/wired-flat-62-film-hover-play.gif" alt="Image 2" class="img-fluid" style="height: 180px;">
              <h4>Professional Video Editing</h4>
              <p>Big Tech Solutions offers video editing services to create high-quality, engaging content. From promotional videos to social media clips, we deliver polished, professional videos that align with your brand and captivate your audience.</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="content-boxL d-flex flex-column justify-content-center align-items-center text-center">
                <a href=""><i class="bi bi-arrow-right-circle-fill"></i></a><br><br>
                <h4>Discover more</h4>
            </div>
          </div>
        </div>
      </div>
  <app-p-ecommerce></app-p-ecommerce>
  <app-technologies></app-technologies>
<div class="container-fluid d-flex justify-content-center align-items-center clts">
  <h3>Some Happy #Clients</h3>
</div>



  </div>
  